.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 696px;
}

.botao-lilas {
    background-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}

.posicao {
    top: 40%;
}

@media(max-width: 768px){
    .div-novidades {
        width: 325px;
    }

    .posicao {
        top: 60%;
    }
}